---
import CustomTitle from "../components/CustomTitle.astro";
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout title="About">
	<h1>IDDD</h1>
	<CustomTitle title="About Page" />
	<!-- <style is:global > -->
		<style >
		h1 {
			color: red;
		}
	</style>
</MainLayout>

